@model IEnumerable<StudentsMarkWithExcel.Models.GroupStudent>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Group)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Group.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentName)
            </td>
            <td>
                <a asp-controller="GroupStudents" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="GroupStudents" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="GroupStudents" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
